Weather Report Automation.json
{
  "name": "Weather Report Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -240
      ],
      "id": "c1448332-01d1-443d-8267-9d71096b1bff",
      "name": "manual test"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -16
      ],
      "id": "edadf852-486e-4136-984c-3a1453c27385",
      "name": "6am schedule"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=20.59&longitude=78.96&daily=sunrise,daylight_duration,snowfall_sum,showers_sum&hourly=temperature_2m&forecast_days=3&wind_speed_unit=mph",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -96
      ],
      "id": "a91d8f8a-f095-4e51-9ab7-b0f9e6c50077",
      "name": "gets weather"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming JSON correctly\nconst data = items[0].json;\n\n// Extract hourly temperatures\nconst temperatures = data.hourly.temperature_2m;\n\n// Calculate high and low\nconst highTemp = Math.max(...temperatures);\nconst lowTemp = Math.min(...temperatures);\n\n// Create the message\nconst message = `In India, the high today is ${highTemp}°C and the low is ${lowTemp}°C`;\n\n// Return output\nreturn [\n  {\n    json: {\n      message: message,\n      high: highTemp,\n      low: lowTemp\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -96
      ],
      "id": "f0851a9d-4b3e-4d0d-a191-e0167a6488e3",
      "name": "creates message"
    },
    {
      "parameters": {
        "sendTo": "ujjwal.kant@testaing.com",
        "subject": "Weather Report for Today!",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -96
      ],
      "id": "8f9f1c74-561c-474c-b2b7-46cb24d4704f",
      "name": "Send a message",
      "webhookId": "eafd7a30-a949-4dfc-9ab1-c91ee67499f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "yOCm7YiaEcYxtFuP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "6am schedule": {
      "main": [
        [
          {
            "node": "gets weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manual test": {
      "main": [
        [
          {
            "node": "gets weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gets weather": {
      "main": [
        [
          {
            "node": "creates message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creates message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1d9d80a7-2c94-4104-8acb-c3203bdfeb9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3410081ca4a2f6417612bc098fc8a15d2f58f7808b2433469e11912ec1ce7bb4"
  },
  "id": "dbeNzI8Ty30KlcgB",
  "tags": []
}