Lead Analysis Automation/Automated ETL Pipeline.json
{
  "name": "Automated ETL Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "id": "5e0c4774-ac72-455e-9efe-a12eaa9105b9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PElo0N5JGhO3as8WqSFAJvLpnRYRQwcINmN8WcUen_8",
          "mode": "list",
          "cachedResultName": "Information_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PElo0N5JGhO3as8WqSFAJvLpnRYRQwcINmN8WcUen_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PElo0N5JGhO3as8WqSFAJvLpnRYRQwcINmN8WcUen_8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -112
      ],
      "id": "96710e27-ce9e-4fcc-8230-9fc59e851848",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IaBthHo3UW4NW4xK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c97e37da-07d5-4277-86fc-0ebfd3047a7d",
              "name": "name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "faa31f2b-5102-40e2-b98f-43851005b986",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "e822211e-8e22-4612-a2af-7a84ecca07e9",
              "name": "source",
              "value": "={{ $json.Source }}",
              "type": "string"
            },
            {
              "id": "9437dd3f-6a47-4fcc-97b5-f36f028006be",
              "name": "status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "81ee23f8-dd45-4fe6-99e5-119723445ace",
              "name": "city",
              "value": "={{ $json.City }}",
              "type": "string"
            },
            {
              "id": "fe9aa4c0-f0d0-4608-a45d-e289e9fb1dc6",
              "name": "created_at",
              "value": "={{ $json.Created_At }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -112
      ],
      "id": "eef2262d-628e-4992-bf09-45e8fdffd0f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "Information_Data",
          "mode": "list",
          "cachedResultName": "Information_Data"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        -112
      ],
      "id": "fc25b056-711a-4c8b-a34b-e2125d0c5409",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "2I135wdfenGfUdtX",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8657137a-e4fd-461b-94d4-a210a066a350",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3de873c3db1703c86071f039b3d0063eec7a5377df8176c34b371a62cc0cb0f3"
  },
  "id": "I605YJi4b3IgtUwp",
  "tags": []
}